<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ScreenWidth" value="1000"/>
    <add key="ScreenHeight" value="650"/>
    <add key="ServerIP" value="127.0.0.1"/>
    <add key="ServerPort" value="6000"/>
    <add key="ClientPort" value="7000"/>
    <add key="MapSize" value="20"/>
    <add key="Offset" value="20"/>
    <add key="Scale" value="0.7"/>
    <add key="ImageSize" value="50"/>
    <add key="JoinRequest" value="JOIN#"/>
    <add key="MoveUp" value="UP#"/>
    <add key="MoveDown" value="DOWN#"/>
    <add key="MoveLeft" value="LEFT#"/>
    <add key="MoveRight" value="RIGHT#"/>
    <add key="Shoot" value="SHOOT#"/>
    <add key="Timeout" value="1300"/>
  </appSettings>
</configuration>